<a href="https://colab.research.google.com/github/jpan2575/Homework3_Pan/blob/main/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Pandas
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

filedir = '/content/drive/MyDrive/FWE458/'

fname = filedir + 'MaunaLoaCO2_monthly_sitename.csv'

#Dataframe
DF = pd.read_csv(fname)

print(DF)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
0    1958      3     1958.2027           315.70          314.43         -1
1    1958      4     1958.2877           317.45          315.16         -1
2    1958      5     1958.3699           317.51          314.71         -1
3    1958      6     1958.4548           317.24          315.14         -1
4    1958      7     1958.5370           315.86          315.18         -1
..    ...    ...           ...              ...             ...        ...
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28
766  2022      1     2022.0417           418.19          417.87         29

     stdofdays      site
0        -9.99  MaunaLoa
1        -9.99  MaunaLoa
2        -9.99  MaunaLoa
3        -9.99  MaunaLoa
4        -9.99  MaunaLoa
..         ...       ...
762       0.29  MaunaLoa
763       0.35  MaunaLoa
764       0.36  MaunaLoa
765       0.48  MaunaLoa
766       0.75  MaunaLoa

[767 rows x 8 columns]

In [12]:
#Remove Years
DF = DF[(DF['Year'] != 1958) & (DF['Year'] != 2022)]
print(DF)

     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
194  1974      5     1974.3750           333.19          330.22         13
195  1974      6     1974.4583           332.20          329.78         25
196  1974      7     1974.5417           331.07          330.21         24
197  1974      8     1974.6250           329.15          330.54         26
198  1974      9     1974.7083           327.33          330.44         22
..    ...    ...           ...              ...             ...        ...
761  2021      8     2021.6250           414.47          416.49         26
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28

     stdofdays      site
194       0.31  MaunaLoa
195       0.37  MaunaLoa
196       0.24  MaunaLoa
197       0.31  MaunaLoa
198       0.47  MaunaLoa
..         ...       ...
761       0.72  MaunaLoa
762       0.29  MaunaLoa
763       0.35  MaunaLoa
764       0.36  MaunaLoa
765       0.48  MaunaLoa

[570 rows x 8 columns]

In [13]:
#Remove Negatives
DF = DF[(DF['numofdays'] >= 0) & (DF['stdofdays'] >= 0)]
print(DF)

     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
194  1974      5     1974.3750           333.19          330.22         13
195  1974      6     1974.4583           332.20          329.78         25
196  1974      7     1974.5417           331.07          330.21         24
197  1974      8     1974.6250           329.15          330.54         26
198  1974      9     1974.7083           327.33          330.44         22
..    ...    ...           ...              ...             ...        ...
761  2021      8     2021.6250           414.47          416.49         26
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28

     stdofdays      site
194       0.31  MaunaLoa
195       0.37  MaunaLoa
196       0.24  MaunaLoa
197       0.31  MaunaLoa
198       0.47  MaunaLoa
..         ...       ...
761       0.72  MaunaLoa
762       0.29  MaunaLoa
763       0.35  MaunaLoa
764       0.36  MaunaLoa
765       0.48  MaunaLoa

[570 rows x 8 columns]

In [15]:
#Print Annual Average
annual_average = DF.groupby('Year')['Monthly_average'].mean().reset_index()
annual_average.rename(columns={'Monthly_average': 'annual_average'}, inplace=True)
print(annual_average)

    Year  annual_average
0   1974      329.763750
1   1975      331.160909
2   1976      332.026667
3   1977      333.843333
4   1978      335.415000
5   1979      336.835833
6   1980      338.762500
7   1981      340.119167
8   1982      341.479167
9   1983      343.152500
10  1984      344.639091
11  1985      346.351667
12  1986      347.608333
13  1987      349.312500
14  1988      351.690833
15  1989      353.205000
16  1990      354.453333
17  1991      355.704167
18  1992      356.544167
19  1993      357.215833
20  1994      358.959167
21  1995      360.968333
22  1996      362.743333
23  1997      363.877500
24  1998      366.840000
25  1999      368.540000
26  2000      369.706667
27  2001      371.319167
28  2002      373.452500
29  2003      375.983333
30  2004      377.698333
31  2005      379.983333
32  2006      382.090833
33  2007      384.025000
34  2008      385.830833
35  2009      387.643333
36  2010      390.101667
37  2011      391.850833
38  2012      394.055833
39  2013      396.737500
40  2014      398.870833
41  2015      401.012500
42  2016      404.412500
43  2017      406.757500
44  2018      408.715000
45  2019      411.654167
46  2020      414.238333
47  2021      416.450833

In [18]:
#Print deseasonalized average
deseasonalized_annual_average = DF.groupby('Year')['deseasonalized'].mean().reset_index()
print(deseasonalized_annual_average)

    Year  deseasonalized
0   1974      330.346250
1   1975      331.072727
2   1976      332.028333
3   1977      333.841667
4   1978      335.413333
5   1979      336.835833
6   1980      338.765000
7   1981      340.120000
8   1982      341.476667
9   1983      343.152500
10  1984      344.874545
11  1985      346.350833
12  1986      347.608333
13  1987      349.313333
14  1988      351.690833
15  1989      353.205000
16  1990      354.451667
17  1991      355.703333
18  1992      356.545833
19  1993      357.214167
20  1994      358.960000
21  1995      360.966667
22  1996      362.743333
23  1997      363.876667
24  1998      366.839167
25  1999      368.540833
26  2000      369.707500
27  2001      371.318333
28  2002      373.452500
29  2003      375.983333
30  2004      377.697500
31  2005      379.982500
32  2006      382.089167
33  2007      384.024167
34  2008      385.830000
35  2009      387.643333
36  2010      390.101667
37  2011      391.850833
38  2012      394.055833
39  2013      396.738333
40  2014      398.870000
41  2015      401.012500
42  2016      404.414167
43  2017      406.757500
44  2018      408.715000
45  2019      411.655833
46  2020      414.235833
47  2021      416.450000

In [19]:
#print std of months
std_of_months = DF.groupby('Year')['Monthly_average'].std().reset_index()
# Unsure if needed to rename column
print(std_of_months)

    Year  Monthly_average
0   1974         2.203789
1   1975         1.943751
2   1976         2.085610
3   1977         1.931882
4   1978         1.995014
5   1979         1.837639
6   1980         1.871271
7   1981         2.105989
8   1982         2.151386
9   1983         1.936093
10  1984         1.963520
11  1985         1.996983
12  1986         1.834358
13  1987         1.800430
14  1988         1.780860
15  1989         1.978569
16  1990         1.892379
17  1991         2.343313
18  1992         2.304432
19  1993         2.033597
20  1994         1.916656
21  1995         1.953672
22  1996         1.960669
23  1997         2.008578
24  1998         1.790520
25  1999         2.080350
26  2000         1.695434
27  2001         1.893772
28  2002         1.735407
29  2003         1.840836
30  2004         2.110062
31  2005         1.987915
32  2006         2.027064
33  2007         1.958587
34  2008         1.745209
35  2009         1.876643
36  2010         2.027290
37  2011         1.737958
38  2012         1.823775
39  2013         1.956231
40  2014         2.062093
41  2015         1.967907
42  2016         2.208719
43  2017         2.030943
44  2018         1.787718
45  2019         1.940963
46  2020         1.880947
47  2021         2.025027

In [23]:
#Function to classify CO2 levels by month
def classify_co2(Monthly_average):

  if Monthly_average < 350:
    return 'Low'
  elif Monthly_average >= 350 and Monthly_average <= 400:
    return 'Moderate'
  else:
    return 'High'

#Creating a new column
DF['CO2_Category'] = DF['Monthly_average'].apply(classify_co2)
print(DF)

     Year  Month  Decimal_date  Monthly_average  deseasonalized  numofdays  \
194  1974      5     1974.3750           333.19          330.22         13
195  1974      6     1974.4583           332.20          329.78         25
196  1974      7     1974.5417           331.07          330.21         24
197  1974      8     1974.6250           329.15          330.54         26
198  1974      9     1974.7083           327.33          330.44         22
..    ...    ...           ...              ...             ...        ...
761  2021      8     2021.6250           414.47          416.49         26
762  2021      9     2021.7083           413.30          416.90         27
763  2021     10     2021.7917           413.93          417.30         29
764  2021     11     2021.8750           415.01          417.07         30
765  2021     12     2021.9583           416.71          417.44         28

     stdofdays      site CO2_Category
194       0.31  MaunaLoa          Low
195       0.37  MaunaLoa          Low
196       0.24  MaunaLoa          Low
197       0.31  MaunaLoa          Low
198       0.47  MaunaLoa          Low
..         ...       ...          ...
761       0.72  MaunaLoa         High
762       0.29  MaunaLoa         High
763       0.35  MaunaLoa         High
764       0.36  MaunaLoa         High
765       0.48  MaunaLoa         High

[570 rows x 9 columns]